{{!-- views/partials/footer.hbs --}}
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Меню</h3>
        <ul>
          <li><a href="/">Головна</a></li>
          <li><a href="/courses">Навчальні курси</a></li>
          <li><a href="/certification">Сертифікація</a></li>
          <li><a href="/about">Про нас</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Контакти</h3>
        <ul>
          <li>📞 <a href="tel:+380800331102">(067) 141-12-76</a></li>
          <li>📧 <a href="mailto:info@medibor.com.ua">office@medibor.com</a></li>
          <li style="font-weight: 600; margin-top: 10px;">Наші адреси в Житомирі:</li>
          <li class="footer-address-item"><a href="#" class="footer-address" data-address="м. Житомир, вул. Перемоги, 32" data-lat="50.2616744659701" data-lng="28.65277517582748">вул. Перемоги, 32</a> <a href="https://maps.google.com/?daddr=50.2616744659701,28.65277517582748" target="_blank" class="nav-icon-footer" title="Навігація">📍</a></li>
          <li class="footer-address-item"><a href="#" class="footer-address" data-address="м. Житомир, вул. В. Бердичівська, 47" data-lat="50.24970515107149" data-lng="28.67541861842445">вул. В. Бердичівська, 47</a> <a href="https://maps.google.com/?daddr=50.24970515107149,28.67541861842445" target="_blank" class="nav-icon-footer" title="Навігація">📍</a></li>
          <li class="footer-address-item"><a href="#" class="footer-address" data-address="м. Житомир, вул. В. Бердичівська, 59" data-lat="50.24922745210505" data-lng="28.677847218419572">вул. В. Бердичівська, 59</a> <a href="https://maps.google.com/?daddr=50.24922745210505,28.677847218419572" target="_blank" class="nav-icon-footer" title="Навігація">📍</a></li>
          <li class="footer-address-item"><a href="#" class="footer-address" data-address="м. Житомир, вул. Бориса Тена, 143" data-lat="50.26389938138799" data-lng="28.700756793298257">вул. Бориса Тена, 143</a> <a href="https://maps.google.com/?daddr=50.26389938138799,28.700756793298257" target="_blank" class="nav-icon-footer" title="Навігація">📍</a></li>
          <li class="footer-address-item"><a href="#" class="footer-address" data-address="м. Житомир, вул. Перемоги, 52" data-lat="50.264652760428994" data-lng="28.649536118056474">вул. Перемоги, 52</a> <a href="https://maps.google.com/?daddr=50.264652760428994,28.649536118056474" target="_blank" class="nav-icon-footer" title="Навігація">📍</a></li>
          <li class="footer-address-item"><a href="#" class="footer-address" data-address="м. Житомир, вул. Князів Острозьких, 61" data-lat="50.25962984758344" data-lng="28.676616948043296">вул. Князів Острозьких, 61</a> <a href="https://maps.google.com/?daddr=50.25962984758344,28.676616948043296" target="_blank" class="nav-icon-footer" title="Навігація">📍</a></li>
        </ul>
      </div>
      <div class="footer-section footer-map">
        <h3>Ми на карті</h3>
        <div class="map-responsive">
          <iframe id="footerMap" src="https://maps.google.com/maps?q=%D0%BC.+%D0%96%D0%B8%D1%82%D0%BE%D0%BC%D0%B8%D1%80,+%D0%B2%D1%83%D0%BB.+%D0%9F%D0%B5%D1%80%D0%B5%D0%BC%D0%BE%D0%B3%D0%B8,+32&t=&z=15&ie=UTF8&iwloc=&output=embed" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Про нас</h3>
        <p>MED_EDU - платформа навчальних курсів для медиків. Ми пропонуємо якісну освіту та міжнародні сертифікати.</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; MED_EDU. </p>
    </div>
  </div>
</footer>
