{{!-- views/partials/header.hbs --}}
<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="/">MED_EDU</a>
      </div>
      <nav class="nav">
        <a href="/">Головна</a>
        <a href="/courses">Навчальні курси</a>
        <a href="/certification">Сертифікація</a>
        <a href="/about">Про нас</a>
      </nav>
      <div class="header-actions">
        <a href="tel:+380800331102" class="phone">(067) 141-12-76</a>
        <a href="#enrollment" class="btn-primary">Записатися</a>
      </div>
    </div>
  </div>
</header>